$primary: #5C62C5;
$dark-grey: #363636;
$light-grey: #d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$sidebar: #312450;
$background-1: #5e42a6;
$background-2: #493382;
$background-3: #5052b5;
$background-4: #3e4094;
$rosa-1: #b74e91;
$rosa-2: #953d75;
$azul-electrico: #3e5f8a;
$background-image-1: -moz-linear-gradient(to right, #5e42a6, #b74e91);
$background-image-2: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
$background-image-3: -ms-linear-gradient(to right, #5e42a6, #b74e91);
$background-image-4: linear-gradient(to right, #5e42a6, #b74e91);