@use '../layout' as *;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

// svg {
//     stroke: black;
//     max-width: calc(3500vw / 207);
//     max-height: calc(300vh / 63);
//     transition: stroke 800ms ease-in-out;
// }

body {
    height: 100vh;
    width: 100vw;
    // background-image: -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    // background-image: -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    // background-image: -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    // // background-color: #9731a6;
    // // background-color: #e22b51;
    // background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}


#root {
    width: max-content(auto, 100vw);
    height: max-content(auto, 100vh);
        
}

    .router {
        
        &__home,
        &__ramdom,
        // &__search,
        &__favorites {
            width: max-content(auto, 100vw);
            height: max-content(auto, 100vh);
            @include position();
            @include grid-container(
                $grid-template-rows: repeat(50, 2vh),
                $grid-template-columns: repeat(50, 2vw),
                $grid-auto-rows: 2vh,
                $grid-auto-columns: 2vw,
            );
        }
        
        &__home {
            background-color: #000;
        }
        
        &__ramdom {
            background-image: linear-gradient(45deg, #ff73ac, #9731a6, #322180);
        }
        
        // &__search {
        // }
        
        &__favorites {
            background-image: linear-gradient(135deg, #01c3cc, #4e46f3, #7d2ae7);
        }
    }