@use '../../../design' as *;
@use '../../../layout' as *;


.off-canvas {
    
    &__contact {
        
        @include flex-container(
            $justify-content: center,
        );

    }
    
    &__list {
        
        list-style-type: none;
        @include flex-item();
        @include flex-container();
        
    }
}


@include laptop-screen {

    .off-canvas {
    
        &__contact {
        
            grid-column: 3 / 17;
            grid-row: 19 / 23;
            
        }
    }
}


@include tablet-screen-landscape {

    .off-canvas {
    
        &__contact {
        
            grid-column: 3 / 17;
            grid-row: 19 / 23;
            
        }
    }
}


@include tablet-screen-portrait {

    .off-canvas {
    
        &__contact {
        
            grid-column: 3 / 17;
            grid-row: 19 / 23;
            
        }
    }
}


@include movil-screen-landscape {

    .off-canvas {
    
        &__contact {
        
            grid-column: 3 / 17;
            grid-row: 19 / 23;
            
        }
    }
}


@include movil-screen-portrait {

    .off-canvas {
    
        &__contact {
        
            grid-column: 3 / 17;
            grid-row: 19 / 23;
            
        }
    }
}