@use '../../../design' as *;
@use '../../../layout' as *;


.ramdom {
    width: 100vw;
    height: 78vh;
    overflow: hidden;
    @include position();
    // @include flex-container(
    //     $justify-content: center,
    // );

}


@include laptop-screen {

    .ramdom {
        grid-row: 10 / 49;
        grid-column: 1 / 51;
    }
}


@include tablet-screen-landscape {

    .ramdom {
        grid-row: 10 / 49;
        grid-column: 1 / 51;
    }
}


@include tablet-screen-portrait {

    .ramdom {
        grid-row: 10 / 49;
        grid-column: 1 / 51;
        height: max-content(auto, 78vh);
    }
}


@include movil-screen-landscape {

    .ramdom {
        grid-row: 10 / 49;
        grid-column: 1 / 51;
        height: max-content(auto, 78vh);
    }
}


@include movil-screen-portrait {

    .ramdom {
        grid-row: 10 / 49;
        grid-column: 1 / 51;
        height: max-content(auto, 78vh);
    }
}